



h1 {
    height:2px;
   

}
section {
    display: inline;
    font-size: clamp(0.3rem, 1.2vw, 1rem)
}


.bloco {
    color:white;
    height: 60px;
    padding-bottom: 1vw;
    padding-left: 15px; 
    margin-bottom: 1vw;
    width: 21%; 
     
}

#bloco-1{
    background-color: rgb(223, 148, 51);    
    border: 4px solid rgb(236, 184, 87); 

    
}

#bloco-2{
    background-color: rgb(55, 131, 81);    
    border: 4px solid rgb(82, 170, 98);  
    
}

#bloco-3{
    background-color: rgb(32, 78, 48);
    border: 4px dashed rgb(82, 170, 98);  
     
}

#bloco-4{
    background-color: rgb(208, 69, 48);
    border: 4px dashed rgb(221, 111, 91);  
  
}


main {
    font-family: Helvetica;
     
}

